# Database dumps
bfabric_dump.sql.gz
*.sql.gz

# Open WebUI data
open-webui-data/

# MCPO output logs
output/

__pycache__/

# UV virtual environments
.venv/
venv/
.uv/
uv.lock

# Python virtual environments
env/
ENV/
env.bak/
venv.bak/

R2R/scripts/test/